In [24]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from preprocessing import normalise_author_ids
from graph import Graph

In [25]:
df = pd.read_csv('data/coauth-MAG-100k.txt', sep=' ', header=None, names=['author1', 'author2', 'power'])

In [26]:
df

         author1    author2  power
0        5292957   23028022      1
1           5343    1765192      8
2      143687518  143687519      1
3      137844465  137844469      4
4        3106434    6246085      3
...          ...        ...    ...
99995  142277981  142277983      1
99996  151758660  154197167      1
99997     704806     704807     13
99998   10336982   10336984      1
99999    1547296    3152031      1

[100000 rows x 3 columns]

In [27]:
all_authors = set(df['author1']).union(set(df['author2']))

In [28]:
len(all_authors)

198601

In [29]:
normalise_author_ids(df)
df

       author1  author2  power
0        19005   183339      1
1         2137    72817      8
2        12437    12438      1
3       182369   182373      4
4       183826   181587      3
...        ...      ...    ...
99995    74184    74195      1
99996    90605    21465      1
99997    68242    68246     13
99998   142500   142503      1
99999   188938     2506      1

[100000 rows x 3 columns]

In [30]:
g = Graph(df)
print(f'Number of clusters: {g.get_number_of_clusters(0)}')

for i in range(10):
    g.simulate_iteration(0.1)
    
    print(f'Iteration {i+1}: {g.get_number_of_clusters(0)}')

Number of clusters: 98601

 92%|█████████▏| 183146/198601 [14:06<01:11, 216.48it/s]

KeyboardInterrupt: